<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-danger" href="javascript:void(0)">CoffeeShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0)">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Pay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">About Us</a>
                </li>

            </ul>



            <div class="float-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>


        </div>
    </div>
</nav>